
body {
  // background-color: #FDFFFC;
  .canvas-container {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 10%;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(0, 0, 0);
  background-color: #D3F6DB;
  canvas {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10%;
    height: 70%;
    width: 70%;
    justify-content: center;
    border-style: solid;
    border-width: 1px;
    border-color: #FDFFFC;
    background-color: white;
    &:hover {
      cursor: pointer;
    }
    div {
      border: 1px solid #FDFFFC;
      width: 200px;
      height: 200px;
    }
  }
  }


div.time-reset {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #92D5E6;
  // padding: 30px;
  // width: 100%;
  // height: 100%;

  #timer {
    color: white;
    // background-color: #38A3A5;
  }
  #reset {
    border-style: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 4px;
    color: white;
    background-color: #772D8B;
    &:hover {
      cursor: pointer;
      background:
        /* top, transparent black, faked with gradient */ 
        linear-gradient(
          rgba(0, 0, 0, 0.3), 
          rgba(0, 0, 0, 0.3)
        ),
      // opacity: 3;
      // background-color: opaci;
    }
    width: 80px;
    height: 50px;
  }
  // #reset
}
}





